---
http_interactions:
- request:
    method: post
    uri: https://api.validic.com/v1/organizations/hy_id/users/hy-user/diabetes.json
    body:
      encoding: UTF-8
      string: '{"access_token":"hy-token","diabetes":{"activity_id":"diabetes_2015abc","timestamp":"2015-01-08T16:43:49+00:00","utc_offset":null,"c_peptide":null,"fasting_plasma_glucose_test":null,"hba1c":null,"insulin":null,"oral_glucose_tolerance_test":null,"random_plasma_glucose_test":null,"triglyceride":null,"blood_glucose":null,"extras":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"code":201,"message":"Created","diabetes":{"_id":"54aeb3c784626b2faf000230","activity_id":"diabetes_2015abc","blood_glucose":null,"c_peptide":null,"extras":null,"fasting_plasma_glucose_test":null,"hba1c":null,"insulin":null,"oral_glucose_tolerance_test":null,"random_plasma_glucose_test":null,"source":"healthy_yet","source_name":"Healthy
        Yet","timestamp":"2015-01-08T16:43:49+00:00","triglyceride":null,"utc_offset":null,"validated":false,"last_updated":"2015-01-08T16:43:51+00:00"}}'
  recorded_at: Thu, 08 Jan 2015 16:43:50 GMT
recorded_with: VCR 2.8.0
