---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/acme_id/users.json?access_token=acme_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":762,"start_date":"2015-01-07T00:00:00+00:00","end_date":"2015-01-09T23:59:59+00:00","offset":0,"limit":null,"previous":null,"next":"https://api.validic.com/v1/organizations/acme_id/users.json?access_token=acme_token&page=2","params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"users":[{"_id":"5465094884626b8bd6000072"},{"_id":"546a079784626b9b09000376"},{"_id":"54a40b0484626b73f5000018"},{"_id":"54ada5a184626b79880001a4"},{"_id":"543ea3d584626bc113000024"},{"_id":"542b079884626b24110000eb"},{"_id":"54a2be5a84626bf085000003"},{"_id":"5467412f84626bf361000105"},{"_id":"5420580c84626b03190000c8"},{"_id":"541e135684626b0319000052"},{"_id":"54661a8084626ba35700002b"},{"_id":"54942e0284626b74cd000001"},{"_id":"542aebbb84626bfc6b0000f7"},{"_id":"546f783884626b455b000046"},{"_id":"542ebc938[...]
