---
http_interactions:
- request:
    method: put
    uri: https://api.validic.com/v1/organizations/acme_id/users/54aeb53784626b2ead000245.json
    body:
      encoding: UTF-8
      string: '{"suspend":1,"access_token":"acme_token"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"code":200,"message":"The user has been suspended successfully"}'
  recorded_at: Thu, 08 Jan 2015 16:50:37 GMT
recorded_with: VCR 2.8.0
