---
http_interactions:
- request:
    method: post
    uri: https://api.validic.com/v1/organizations/hy_id/users/hy-user/fitness.json
    body:
      encoding: UTF-8
      string: '{"access_token":"hy-token","fitness":{"activity_id":"fitness_123","timestamp":"2015-01-06T16:14:17+00:00","utc_offset":null,"type":"Running","intensity":null,"start_time":null,"distance":null,"duration":null,"calories":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"code":201,"message":"Ok","fitness":{"_id":"54aeb66c84626ba759000214","activity_id":"fitness_123","calories":null,"distance":null,"duration":null,"extras":null,"intensity":null,"source":"healthy_yet","source_name":"HealthyYet","start_time":null,"timestamp":"2015-01-06T16:14:17+00:00","utc_offset":null,"validated":false,"type":"Running","last_updated":"2015-01-08T16:55:08+00:00"}}'
  recorded_at: Thu, 08 Jan 2015 16:55:07 GMT
recorded_with: VCR 2.8.0
