---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/ORG_ID/users/USER_ID/biometrics/latest.json?access_token=ACCESS_TOKEN&user_id=USER_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":73,"start_date":"2015-01-07T00:00:00+00:00","end_date":"2015-01-07T19:58:18+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"biometrics":[{"_id":"54acf0416034d359e402eb25","timestamp":"2015-01-07T00:00:00+00:00","utc_offset":"+00:00","blood_calcium":null,"blood_chromium":null,"blood_folic_acid":null,"blood_magnesium":null,"blood_potassium":null,"blood_sodium":null,"blood_vitamin_b12":null,"blood_zinc":null,"creatine_kinase":null,"crp":null,"diastolic":90.0,"ferritin":null,"hdl":null,"hscrp":null,"il6":null,"ldl":null,"resting_heartrate":null,"systolic":120.0,"testosterone":null,"total_cholesterol":null,"tsh":null,"uric_acid":null,"vitamin_d":null,"white_cell_count":null,"spo2":null,"temperature":null,"source":"fitbit","source_name":"Fitbit","last_updated":"2015-01-07T08:37:21+00:00"},{"_id":"54ac777775328ecc2300019e","timestamp":"2015-01-07T00:00:00+00:00","utc_offset":"+00:00","blood_calcium":null,"blood_chromium":null,"blood_folic_acid":null,"blood_magnesium":null,"blood_potassium":null,"blood_sodium":null,"blood_vitamin_b12":null,"blood_zinc":null,"creatine_kinase":null,"crp":null,"diastolic":70.0,"ferritin":null,"hdl":null,"hscrp":null,"il6":null,"ldl":null,"resting_heartrate":null,"systolic":110.0,"testosterone":null,"total_cholesterol":null[...]
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/51aca5a06dedda916400002b/users/526bafa36dedda5bff000001/biometrics/latest.json?access_token=e7aefafcac801b320f79fafcf46d3090b6b5fda9e71ddb374c9c1223a5843adc&user_id=526bafa36dedda5bff000001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charse[...]
