---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/ORG_ID/users/USER_ID/fitness/latest.json?access_token=ACCESS_TOKEN&user_id=USER_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":73,"start_date":"2015-01-07T00:00:00+00:00","end_date":"2015-01-07T19:58:17+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"fitness":[{"_id":"54ace3785290175bac000271","timestamp":"2015-01-07T03:00:00+00:00","utc_offset":"+04:30","type":"Bike","intensity":"Very
        Leisurely - under 10 mph","start_time":"2015-01-07T07:30:00+04:30","distance":1610,"duration":3600.0,"calories":1021.0,"source":"fitbit","source_name":"Fitbit","last_updated":"2015-01-07T07:42:48+00:00"},{"_id":"54ace32352901788160001b2","timestamp":"2015-01-07T01:30:00+00:00","utc_offset":"+04:30","type":"Swimming","intensity":"25-50
        yards/min","start_time":"2015-01-07T06:00:00+04:30","distance":1610,"duration":3600.0,"calories":1420.0,"source":"fitbit","source_name":"Fitbit","last_updated":"2015-01-07T07:41:23+00:00"},{"_id":"54ac2d6651e4a8382000286c","timestamp":"2015-01-06T06:30:00+00:00","utc_offset":"+04:30","type":"Walk","intensity":"less
        than [...]
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/51aca5a06dedda916400002b/users/526bafa36dedda5bff000001/fitness/latest.json?access_token=e7aefafcac801b320f79fafcf46d3090b6b5fda9e71ddb374c9c1223a5843adc&user_id=526bafa36dedda5bff000001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=u[...]
