---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/ORG_ID/users/USER_ID/nutrition/latest.json?access_token=ACCESS_TOKEN&user_id=USER_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":59,"start_date":"2015-01-07T00:00:00+00:00","end_date":"2015-01-07T19:58:19+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"nutrition":[{"_id":"54ab882c00965563e903c421","timestamp":"2015-01-06T00:00:00+00:00","utc_offset":"+00:00","calories":608.0,"carbohydrates":null,"fat":null,"fiber":null,"protein":null,"sodium":null,"water":null,"meal":"Grilled
        Fish Platter","source":"fitbit","source_name":"Fitbit","last_updated":"2015-01-07T10:22:01+00:00"},{"_id":"54a67c297d204318a00006ea","timestamp":"2015-01-02T00:00:00+00:00","utc_offset":"+00:00","calories":1067.0,"carbohydrates":null,"fat":null,"fiber":null,"protein":null,"sodium":null,"water":null,"meal":"Fish,
        Portions, Batter Dipped","source":"fitbit","source_name":"Fitbit","last_updated":"2015-01-07T10:21:45+00:00"},{"_id":"54a6606fd5643b140d000daf","timestamp":"2015-01-02T00:00:00+00:00","utc_offset":"+00:00","calories":800.0,"carbohydrates":null,"fat[...]
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/51aca5a06dedda916400002b/users/526bafa36dedda5bff000001/nutrition/latest.json?access_token=e7aefafcac801b320f79fafcf46d3090b6b5fda9e71ddb374c9c1223a5843adc&user_id=526bafa36dedda5bff000001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset[...]
