---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/ORG_ID/users/USER_ID/routine/latest.json?access_token=ACCESS_TOKEN&user_id=USER_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":10,"start_date":"2015-01-07T00:00:00+00:00","end_date":"2015-01-07T19:58:18+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"routine":[{"_id":"54ac7beab904b612a001ccfa","timestamp":"2015-01-07T00:00:00+00:00","utc_offset":"+00:00","steps":2279.0,"calories_burned":3142.0,"distance":null,"floors":null,"elevation":null,"source":"healthgraph","source_name":"RunKeeper","last_updated":"2015-01-07T08:23:02+00:00"},{"_id":"54ac77a35676f1a4420001aa","timestamp":"2015-01-06T19:30:00+00:00","utc_offset":"+04:30","steps":0.0,"calories_burned":3957.0,"distance":0.0,"floors":null,"elevation":null,"source":"fitbit","source_name":"Fitbit","last_updated":"2015-01-07T19:50:24+00:00"},{"_id":"5432bd14339ecb789f075505","timestamp":"2014-10-02T00:00:00+00:00","utc_offset":"+00:00","steps":5798.0,"calories_burned":1655.9568,"distance":3068.528578,"floors":null,"elevation":null,"source":"misf[...]
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/51aca5a06dedda916400002b/users/526bafa36dedda5bff000001/routine/latest.json?access_token=e7aefafcac801b320f79fafcf46d3090b6b5fda9e71ddb374c9c1223a5843adc&user_id=526bafa36dedda5bff000001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=u[...]
