---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/ORG_ID/users/USER_ID/sleep/latest.json?access_token=ACCESS_TOKEN&user_id=USER_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":7,"start_date":"2015-01-07T00:00:00+00:00","end_date":"2015-01-07T19:58:17+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"sleep":[{"_id":"54866b9773ee244b29001d7f","timestamp":"2014-12-07T20:00:00+00:00","utc_offset":"+04:00","awake":18540.0,"deep":37200.0,"light":1920.0,"rem":0.0,"times_woken":34.0,"total_sleep":57660.0,"source":"fitbit","source_name":"Fitbit","last_updated":"2015-01-06T23:55:12+00:00"},{"_id":"547a7846dcc6e0bcf1075b21","timestamp":"2014-11-28T16:00:00+00:00","utc_offset":"+08:00","awake":300.0,"deep":51900.0,"light":5400.0,"rem":0.0,"times_woken":2.0,"total_sleep":57600.0,"source":"fitbit","source_name":"Fitbit","last_updated":"2015-01-07T00:45:21+00:00"},{"_id":"547a788ba47c87fb8e0005b2","timestamp":"2014-11-22T16:00:00+00:00","utc_offset":"+08:00","awake":120.0,"deep":50340.0,"light":7200.0,"rem":0.0,"times_woken":1.0,"total_sleep":57660.0,"sourc[...]
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/51aca5a06dedda916400002b/users/526bafa36dedda5bff000001/sleep/latest.json?access_token=e7aefafcac801b320f79fafcf46d3090b6b5fda9e71ddb374c9c1223a5843adc&user_id=526bafa36dedda5bff000001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf[...]
