---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/ORG_ID/users/USER_ID/weight/latest.json?access_token=ACCESS_TOKEN&user_id=USER_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":29,"start_date":"2015-01-07T00:00:00+00:00","end_date":"2015-01-07T19:58:16+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"weight":[{"_id":"5487d6a67464c0cf7310bddd","timestamp":"2014-12-08T19:59:59+00:00","utc_offset":"+04:00","weight":83.0,"height":null,"free_mass":null,"fat_percent":13.0,"mass_weight":null,"bmi":28.72,"source":"fitbit","source_name":"Fitbit","last_updated":"2015-01-06T23:55:19+00:00"},{"_id":"54804b576e87143685002e2d","timestamp":"2014-12-04T19:59:59+00:00","utc_offset":"+04:00","weight":63.0,"height":null,"free_mass":null,"fat_percent":9.0,"mass_weight":null,"bmi":21.8,"source":"fitbit","source_name":"Fitbit","last_updated":"2015-01-06T23:55:13+00:00"},{"_id":"54804b566e87143685002e2a","timestamp":"2014-12-02T15:59:59+00:00","utc_offset":"+08:00","weight":60.0,"height":null,"free_mass":null,"fat_percent":13.0,"mass_weight":null,"bmi":20.76,"sourc[...]
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/51aca5a06dedda916400002b/users/526bafa36dedda5bff000001/weight/latest.json?access_token=e7aefafcac801b320f79fafcf46d3090b6b5fda9e71ddb374c9c1223a5843adc&user_id=526bafa36dedda5bff000001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=ut[...]
