---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/ORG_ID/sleep.json?access_token=ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":19,"start_date":"2015-01-06T00:00:00+00:00","end_date":"2015-01-08T23:59:59+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"sleep":[{"_id":"54ad423b4e062b2f650028b5","timestamp":"2015-01-07T06:00:00+00:00","utc_offset":"-06:00","awake":1680.0,"deep":24180.0,"light":240.0,"rem":0.0,"times_woken":9.0,"total_sleep":26100.0,"source":"fitbit","source_name":"Fitbit","last_updated":"2015-01-07T14:27:07+00:00","user_id":"5427156884626bc6b3000001"},{"_id":"54ad258b1142512ba6002a15","timestamp":"2015-01-07T05:14:35+00:00","utc_offset":"-07:00","awake":636.0,"deep":2340.0,"light":3069.0,"rem":null,"times_woken":0.0,"total_sleep":6045.0,"source":"jawbone_up","source_name":"Jawbone
        Up","last_updated":"2015-01-07T12:54:03+00:00","user_id":"52600f2f6dedda430b000007"},{"_id":"54ad2fbe939d1867b1001ad9","timestamp":"2015-01-07T03:27:53+00:00","utc_offset":"-06:00","awake":1058.0,"deep":15556.0,"light":12362.0,"re[...]
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/51aca5a06dedda916400002b/sleep.json?access_token=e7aefafcac801b320f79fafcf46d3090b6b5fda9e71ddb374c9c1223a5843adc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      s[...]
