---
http_interactions:
- request:
    method: post
    uri: https://api.validic.com/v1/organizations/hy_id/users/hy-user/fitness.json
    body:
      encoding: UTF-8
      string: '{"access_token":"hy-token","fitness":{"activity_id":"fitnessez","timestamp":"2015-01-08T20:51:58+00:00","utc_offset":null,"type":"General","intensity":null,"start_time":null,"distance":null,"duration":null,"calories":null,"extras":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"code":201,"message":"Ok","fitness":{"_id":"54aeedef84626b378100025d","activity_id":"fitnessez","calories":null,"distance":null,"duration":null,"extras":null,"intensity":null,"source":"healthy_yet","source_name":"HealthyYet","start_time":null,"timestamp":"2015-01-08T20:51:58+00:00","utc_offset":null,"validated":false,"type":"General","last_updated":"2015-01-08T20:51:59+00:00"}}'
  recorded_at: Thu, 08 Jan 2015 20:51:59 GMT
recorded_with: VCR 2.8.0
