---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/ORG_ID/users/USER_ID/sleep.json?access_token=ACCESS_TOKEN&user_id=USER_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":1,"start_date":"2015-01-06T00:00:00+00:00","end_date":"2015-01-08T23:59:59+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"sleep":[{"_id":"54ac0d99884525b1f60090fe","timestamp":"2015-01-06T06:00:00+00:00","utc_offset":"-06:00","awake":null,"deep":null,"light":null,"rem":null,"times_woken":null,"total_sleep":15960.0,"source":"bodymedia","source_name":"BodyMedia","last_updated":"2015-01-06T16:30:17+00:00"}]}'
  recorded_at: Wed, 07 Jan 2015 19:58:07 GMT
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/51aca5a06dedda916400002b/users/526bafa36dedda5bff000001/sleep.json?access_token=e7aefafcac801b320f79fafcf46d3090b6b5fda9e71ddb374c9c1223a5843adc&user_id=526bafa36dedda5bff000001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":1,"start_date":"2015-01-06T00:00:00+00:00","end_date":"2015-01-08T23:59:59+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"sleep":[{"_id":"54ac0d99884525b1f60090fe","timestamp":"2015-01-06T06:00:00+00:00","utc_offset":"-06:00","awake":null,"deep":null,"light":null,"rem":null,"times_woken":null,"total_sleep":15960.0,"source":"bodymedia","source_name":"BodyMedia","last_updated":"2015-01-06T16:30:17+00:00"}]}'
  recorded_at: Wed, 07 Jan 2015 20:48:44 GMT
recorded_with: VCR 2.8.0
