---
http_interactions:
- request:
    method: put
    uri: https://api.validic.com/v1/organizations/acme_id/users/54aeb53784626b2ead000245.json
    body:
      encoding: UTF-8
      string: '{"access_token":"acme_token","user":{"uid":"updated_uid","profile":{"gender":"M","location":"TX","country":"USA","birth_year":1987,"height":72.0,"weight":200.0}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"code":200,"message":"The user has been successfully updated","user":{"_id":"54aeb53784626b2ead000245","uid":"updated_uid","profile":{"gender":null,"height":null,"location":null,"weight":null,"birth_year":null}}}'
  recorded_at: Thu, 08 Jan 2015 16:50:25 GMT
recorded_with: VCR 2.8.0
