---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/ORG_ID/diabetes.json?access_token=ENTERPRISE_KEY&organization_id=ORG_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":70,"start_date":"2015-01-06T00:00:00+00:00","end_date":"2015-01-08T23:59:59+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"diabetes":[{"_id":"54acb87575da28b96f032248","timestamp":"2015-01-07T00:51:42+00:00","utc_offset":"+00:00","c_peptide":null,"fasting_plasma_glucose_test":null,"hba1c":null,"insulin":null,"oral_glucose_tolerance_test":null,"random_plasma_glucose_test":null,"triglyceride":null,"blood_glucose":145.0,"source":"telcare","source_name":"Telcare","last_updated":"2015-01-07T04:39:17+00:00","user_id":"5419f94784626bb139000048"},{"_id":"54acb87575da282ac303224c","timestamp":"2015-01-07T00:51:42+00:00","utc_offset":"+00:00","c_peptide":null,"fasting_plasma_glucose_test":null,"hba1c":null,"insulin":null,"oral_glucose_tolerance_test":null,"random_plasma_glucose_test":null,"triglyceride":null,"blood_glucose":145.0,"source":"telcare","source_name":"Telcare","last_updated":"2015-01-07T04:39:17+00:00","user_id":"541ae27484626bfa60000063"},{"_id":"54acb87575da28200503224f","timestamp":"2015-01-07T00:[...]
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/51aca5a06dedda916400002b/diabetes.json?access_token=ENTERPRISE_KEY&organization_id=51aca5a06dedda916400002b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string:[...]
