---
http_interactions:
- request:
    method: post
    uri: https://api.validic.com/v1/organizations/hy_id/users/hy-user/routine.json
    body:
      encoding: UTF-8
      string: '{"access_token":"hy-token","routine":{"activity_id":"routines_1337","timestamp":"2015-01-06T16:14:17+00:00","utc_offset":null,"steps":null,"distance":null,"floors":null,"elevation":null,"calories_burned":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"code":201,"message":"Ok","routine":{"_id":"54aeb45168c65299e4000130","activity_id":"routines_1337","calories_burned":null,"distance":null,"elevation":null,"extras":null,"floors":null,"source":"healthy_yet","source_name":"Healthy
        Yet","steps":null,"timestamp":"2015-01-06T16:14:17+00:00","utc_offset":null,"validated":false,"last_updated":"2015-01-08T16:46:09+00:00"}}'
  recorded_at: Thu, 08 Jan 2015 16:46:04 GMT
recorded_with: VCR 2.8.0
