---
http_interactions:
- request:
    method: post
    uri: https://api.validic.com/v1/organizations/hy_id/users/hy-user/weight.json
    body:
      encoding: UTF-8
      string: '{"access_token":"hy-token","weight":{"activity_id":"weight_5","timestamp":"2015-01-08T18:32:30+00:00","utc_offset":null,"weight":0,"height":null,"free_mass":null,"fat_percent":null,"mass_weight":null,"bmi":null,"extras":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"code":201,"message":"Ok","weight":{"_id":"54aecd4398b4b177a900017c","bmi":null,"extras":null,"fat_percent":null,"free_mass":null,"height":null,"mass_weight":null,"source":"healthy_yet","source_name":"Healthy
        Yet","timestamp":"2015-01-08T18:32:30+00:00","utc_offset":null,"validated":false,"weight":0.0,"last_updated":"2015-01-08T18:32:35+00:00","activity_id":"weight_5"}}'
  recorded_at: Thu, 08 Jan 2015 18:32:31 GMT
recorded_with: VCR 2.8.0
