---
http_interactions:
- request:
    method: post
    uri: https://api.validic.com/v1/organizations/hy_id/users/hy-user/nutrition.json
    body:
      encoding: UTF-8
      string: '{"access_token":"hy-token","nutrition":{"entry_id":"nutrition134-gem","timestamp":"2015-01-08T20:50:53+00:00","utc_offset":null,"calories":850,"carbohydrates":351,"fat":52,"fiber":35,"protein":54,"sodium":855,"water":36,"meal":null,"extras":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"code":201,"message":"Ok","nutrition":{"_id":"54aeedb198b4b1d8f20001ac","calories":850.0,"carbohydrates":351.0,"extras":null,"fat":52.0,"fiber":35.0,"meal":null,"protein":54.0,"sodium":855.0,"source":"healthy_yet","source_name":"Healthy
        Yet","timestamp":"2015-01-08T20:50:53+00:00","utc_offset":null,"validated":false,"water":36.0,"last_updated":"2015-01-08T20:50:57+00:00","activity_id":"nutrition134-gem"}}'
  recorded_at: Thu, 08 Jan 2015 20:50:53 GMT
recorded_with: VCR 2.8.0
