---
http_interactions:
- request:
    method: post
    uri: https://api.validic.com/v1/organizations/hy_id/users/hy-user/nutrition.json
    body:
      encoding: UTF-8
      string: '{"access_token":"hy-token","nutrition":{"entry_id":"nutrition85-gem","timestamp":"2015-01-08T19:42:14+00:00","utc_offset":null,"calories":850,"carbohydrates":351,"fat":52,"fiber":35,"protein":54,"sodium":855,"water":36,"meal":null,"extras":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"code":201,"message":"Ok","nutrition":{"_id":"54aedd9684626b0054000254","calories":850.0,"carbohydrates":351.0,"extras":null,"fat":52.0,"fiber":35.0,"meal":null,"protein":54.0,"sodium":855.0,"source":"healthy_yet","source_name":"Healthy
        Yet","timestamp":"2015-01-08T19:42:14+00:00","utc_offset":null,"validated":false,"water":36.0,"last_updated":"2015-01-08T19:42:14+00:00","activity_id":"nutrition85-gem"}}'
  recorded_at: Thu, 08 Jan 2015 19:42:14 GMT
- request:
    method: put
    uri: https://api.validic.com/v1/organizations/hy_id/users/hy-user/nutrition/54aedd9684626b0054000254.json
    body:
      encoding: UTF-8
      string: '{"access_token":"hy-token","nutrition":{"timestamp":"2015-01-08T19:42:14+00:00","utc_offset":null,"calories":0,"carbohydrates":null,"fat":null,"fiber":null,"protein":null,"sodium":901,"water":null,"meal":null,"extras":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"code":200,"message":"Ok","nutrition":{"_id":"54aedd9684626b0054000254","calories":0.0,"carbohydrates":null,"extras":null,"fat":null,"fiber":null,"meal":null,"protein":null,"sodium":901.0,"source":"healthy_yet","source_name":"Healthy
        Yet","timestamp":"2015-01-08T19:42:14+00:00","utc_offset":null,"validated":false,"water":null,"last_updated":"2015-01-08T19:42:14+00:00","activity_id":"nutrition85-gem"}}'
  recorded_at: Thu, 08 Jan 2015 19:42:15 GMT
recorded_with: VCR 2.8.0
