---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/ORG_ID/tobacco_cessation/latest.json?access_token=ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":0,"start_date":"2015-01-07T00:00:00+00:00","end_date":"2015-01-07T19:58:22+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"tobacco_cessation":[]}'
  recorded_at: Wed, 07 Jan 2015 19:58:22 GMT
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/51aca5a06dedda916400002b/tobacco_cessation/latest.json?access_token=e7aefafcac801b320f79fafcf46d3090b6b5fda9e71ddb374c9c1223a5843adc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":0,"start_date":"2015-01-07T00:00:00+00:00","end_date":"2015-01-07T20:49:37+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"tobacco_cessation":[]}'
  recorded_at: Wed, 07 Jan 2015 20:49:36 GMT
recorded_with: VCR 2.8.0
