---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/ORG_ID/weight/latest.json?access_token=ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":78,"start_date":"2015-01-07T00:00:00+00:00","end_date":"2015-01-07T19:58:19+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"weight":[{"_id":"54ad08b92a2854c3f2034398","timestamp":"2015-01-06T23:59:59+00:00","utc_offset":"+00:00","weight":115.7,"height":null,"free_mass":null,"fat_percent":null,"mass_weight":null,"bmi":39.94,"source":"fitbit","source_name":"Fitbit","last_updated":"2015-01-07T10:21:45+00:00","user_id":"549200c584626bc5b7000025"},{"_id":"54ac4414f2e222032501fefe","timestamp":"2015-01-06T19:49:17+00:00","utc_offset":"+00:00","weight":127.00576067,"height":null,"free_mass":null,"fat_percent":null,"mass_weight":0.0,"bmi":null,"source":"jawbone_up","source_name":"Jawbone
        Up","last_updated":"2015-01-06T20:22:44+00:00","user_id":"52600f2f6dedda430b000007"},{"_id":"54ac4413f2e222032501feeb","timestamp":"2015-01-06T19:48:36+00:00","utc_offset":"+00:00","weight":127.00576067,"height":null,"free[...]
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/51aca5a06dedda916400002b/weight/latest.json?access_token=e7aefafcac801b320f79fafcf46d3090b6b5fda9e71ddb374c9c1223a5843adc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8[...]
