---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/ORG_ID/routine.json?access_token=ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":84,"start_date":"2015-01-06T00:00:00+00:00","end_date":"2015-01-08T23:59:59+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"routine":[{"_id":"54ad5a870627d122ea000e25","timestamp":"2015-01-07T12:06:00+00:00","utc_offset":"-06:00","steps":1753.0,"calories_burned":55.3989714704,"distance":1211.0,"floors":null,"elevation":null,"source":"jawbone_up","source_name":"Jawbone
        Up","last_updated":"2015-01-07T16:10:47+00:00","user_id":"535573c8f1f70e2bb6000012"},{"_id":"54ad2514cb48c07139001c0a","timestamp":"2015-01-07T09:05:00+00:00","utc_offset":"-07:00","steps":2335.0,"calories_burned":195.495014819,"distance":1792.0,"floors":null,"elevation":null,"source":"jawbone_up","source_name":"Jawbone
        Up","last_updated":"2015-01-07T18:02:58+00:00","user_id":"52600f2f6dedda430b000007"},{"_id":"54accfdd07fd4658d90010a8","timestamp":"2015-01-07T06:15:00+00:00","utc_offset":"-06:00","steps":2903.0,"calories_burned":129.945683966[...]
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/51aca5a06dedda916400002b/routine.json?access_token=e7aefafcac801b320f79fafcf46d3090b6b5fda9e71ddb374c9c1223a5843adc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
     [...]
