---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/acme_id/weight.json?access_token=acme_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":4,"start_date":"2015-01-07T00:00:00+00:00","end_date":"2015-01-09T23:59:59+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"weight":[{"_id":"54ae50046f63edb23b08bdd2","timestamp":"2015-01-08T23:59:59+00:00","utc_offset":"+00:00","weight":91.0,"height":null,"free_mass":null,"fat_percent":11.0,"mass_weight":null,"bmi":31.49,"source":"fitbit","source_name":"Fitbit","last_updated":"2015-01-08T09:38:12+00:00","user_id":"acme_user"},{"_id":"54ae4d51585f6f71fd021e9e","timestamp":"2015-01-08T17:29:49+00:00","utc_offset":"+00:00","weight":86.1825502999521,"height":null,"free_mass":null,"fat_percent":11.0,"mass_weight":null,"bmi":null,"source":"healthgraph","source_name":"RunKeeper","last_updated":"2015-01-08T10:35:48+00:00","user_id":"acme_user"},{"_id":"54ae9c398f8e9a08c00010c2","timestamp":"2015-01-08T14:59:41+00:00","utc_offset":"+00:00","weight":42.0,"height":null,"free_mass":36.96,"fat_percent":12.0,"mass_weight":5.04,"bmi":null,"source":"withings","source_name":"Withings","last_updated":"2015-01-08T15:03:21+00:00","user_id":"52ffcb4bf1f70eefba000004"},{"_id":"54aeaa2b84626b14fe000008","timestamp":"2015-01-08T00:00:00+00:00","utc_offset":"+00:00","weight":56.0,"height":null,"free_mass":null,"fat_percent":null,"mass_weight":null,"bmi":null,"source":"fatsecret","source_name":"Fatsecret","last_updated":"2015-01-08T16:02:51+00:00","user_id":"acme_user"}]}'
  recorded_at: Thu, 08 Jan 2015 17:00:11 GMT
recorded_with: VCR 2.8.0
