---
http_interactions:
- request:
    method: put
    uri: https://api.validic.com/v1/organizations/hy_id/users/hy-user/biometrics/54aeeed898b4b11f9a0001b8.json
    body:
      encoding: UTF-8
      string: '{"access_token":"hy-token","biometrics":{"blood_calcium":10.0,"blood_chromium":null,"blood_folic_acid":null,"blood_magnesium":null,"blood_potassium":null,"blood_sodium":null,"blood_vitamin_b12":null,"blood_zinc":null,"creatine_kinase":null,"crp":null,"diastolic":null,"ferritin":null,"hdl":null,"hscrp":null,"il6":null,"ldl":null,"resting_heartrate":null,"systolic":null,"testosterone":null,"total_cholesterol":null,"tsh":null,"uric_acid":null,"vitamin_d":null,"white_cell_count":null,"timestamp":"2015-01-08T20:56:10+00:00","utc_offset":null,"extras":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"code":200,"message":"Ok","biometrics":{"_id":"54aeeed898b4b11f9a0001b8","blood_calcium":10.0,"blood_chromium":null,"blood_folic_acid":null,"blood_magnesium":null,"blood_potassium":null,"blood_sodium":null,"blood_vitamin_b12":null,"blood_zinc":null,"creatine_kinase":null,"crp":null,"diastolic":null,"extras":null,"ferritin":null,"hdl":null,"hscrp":null,"il6":null,"ldl":null,"resting_heartrate":null,"source":"healthy_yet","source_name":"Healthy
        Yet","spo2":null,"systolic":null,"temperature":null,"testosterone":null,"timestamp":"2015-01-08T20:56:10+00:00","total_cholesterol":null,"tsh":null,"uric_acid":null,"utc_offset":null,"validated":false,"vitamin_d":null,"white_cell_count":null,"last_updated":"2015-01-08T20:56:15+00:00","activity_id":"biometricz"}}'
  recorded_at: Thu, 08 Jan 2015 20:56:10 GMT
recorded_with: VCR 2.8.0
