---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/ORG_ID/users/USER_ID/fitness.json?access_token=ACCESS_TOKEN&user_id=USER_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":4,"start_date":"2015-01-06T00:00:00+00:00","end_date":"2015-01-08T23:59:59+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"fitness":[{"_id":"54ace3785290175bac000271","timestamp":"2015-01-07T03:00:00+00:00","utc_offset":"+04:30","type":"Bike","intensity":"Very
        Leisurely - under 10 mph","start_time":"2015-01-07T07:30:00+04:30","distance":1610,"duration":3600.0,"calories":1021.0,"source":"fitbit","source_name":"Fitbit","last_updated":"2015-01-07T07:42:48+00:00"},{"_id":"54ace32352901788160001b2","timestamp":"2015-01-07T01:30:00+00:00","utc_offset":"+04:30","type":"Swimming","intensity":"25-50
        yards/min","start_time":"2015-01-07T06:00:00+04:30","distance":1610,"duration":3600.0,"calories":1420.0,"source":"fitbit","source_name":"Fitbit","last_updated":"2015-01-07T07:41:23+00:00"},{"_id":"54abdbb0335ef6d1b400134d","timestamp":"2015-01-06T06:50:21+00:00","utc_offset":"-05:00","type":"Run","intensity":"2.0","start_time":"2015-01-06T01:50:21-05:00","distance":0.0,"duration":3600.0,"calories":714.5620872717,"source":"jawbone_up","source_name":"Jawbone
        Up","last_updated":"2015-01-06T12:57:20+00:00"},{"_id":"54ac2d6651e4a8382000286c","timestamp":"2015-01-06T06:30:00+00:00","utc_offset":"+04:30","type":"Walk","intensity":"less
        than 2 mph, strolling very slowly","start_time":"2015-01-06T11:00:00+04:30","distance":1610,"duration":5400.0,"calories":1200.0,"source":"fitbit","source_name":"Fitbit","last_updated":"2015-01-06T21:27:09+00:00"}]}'
  recorded_at: Wed, 07 Jan 2015 19:57:59 GMT
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/51aca5a06dedda916400002b/users/526bafa36dedda5bff000001/fitness.json?access_token=e7aefafcac801b320f79fafcf46d3090b6b5fda9e71ddb374c9c1223a5843adc&user_id=526bafa36dedda5bff000001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
  [...]
