---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/ORG_ID/nutrition.json?access_token=ENTERPRISE_KEY&organization_id=ORG_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":16,"start_date":"2015-01-06T00:00:00+00:00","end_date":"2015-01-08T23:59:59+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"nutrition":[{"_id":"54ad5a45e5df042b89014060","timestamp":"2015-01-07T16:08:56+00:00","utc_offset":"-06:00","calories":80.0,"carbohydrates":20.0,"fat":0.0,"fiber":1.0,"protein":0.0,"sodium":4.0,"water":null,"meal":"Snacks","source":"jawbone_up","source_name":"Jawbone
        Up","last_updated":"2015-01-07T16:09:41+00:00","user_id":"535573c8f1f70e2bb6000012"},{"_id":"54ad5ab2637e84cbad001802","timestamp":"2015-01-07T14:00:00+00:00","utc_offset":"-06:00","calories":290.0,"carbohydrates":41.0,"fat":3.0,"fiber":15.0,"protein":24.0,"sodium":90.0,"water":null,"meal":"Breakfast","source":"jawbone_up","source_name":"Jawbone
        Up","last_updated":"2015-01-07T16:11:30+00:00","user_id":"535573c8f1f70e2bb6000012"},{"_id":"54ad5a2a0627d1b4ba000d25","timestamp":"2015-01-07T14:00:00+00:00","utc_offset":"-06:00","calories":290.0,"ca[...]
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/51aca5a06dedda916400002b/nutrition.json?access_token=ENTERPRISE_KEY&organization_id=51aca5a06dedda916400002b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string[...]
