---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/acme_id/users/acme_user/nutrition/latest.json?access_token=acme_token&user_id=acme_user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":3,"start_date":"2015-01-12T00:00:00+00:00","end_date":"2015-01-12T19:14:53+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"nutrition":[{"_id":"54afb22b7ae8750280000ac9","timestamp":"2015-01-09T00:00:00+00:00","utc_offset":"+00:00","calories":730.0,"carbohydrates":null,"fat":null,"fiber":null,"protein":null,"sodium":null,"water":null,"meal":"Grilled
        Pork Chop","source":"fitbit","source_name":"Fitbit","last_updated":"2015-01-12T12:28:34+00:00"},{"_id":"54ae506853e05c4d86085e26","timestamp":"2015-01-08T00:00:00+00:00","utc_offset":"+00:00","calories":800.0,"carbohydrates":null,"fat":null,"fiber":null,"protein":null,"sodium":null,"water":null,"meal":"Beef","source":"fitbit","source_name":"Fitbit","last_updated":"2015-01-12T12:29:11+00:00"},{"_id":"54ab882c00965563e903c421","timestamp":"2015-01-06T00:00:00+00:00","utc_offset":"+00:00","calories":608.0,"carbohydrates":null,"fat":null,"fiber":null,"protein":null,"sodium":null,"water":null,"meal":"Grilled
        Fish Platter","source":"fitbit","source_name":"Fitbit","last_updated":"2015-01-12T12:27:21+00:00"}]}'
  recorded_at: Mon, 12 Jan 2015 19:14:53 GMT
recorded_with: VCR 2.9.3
