---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/acme_id/users/acme_user/routine/latest.json?access_token=acme_token&user_id=acme_user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":3,"start_date":"2015-01-12T00:00:00+00:00","end_date":"2015-01-12T19:14:54+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"routine":[{"_id":"54b33a339b6a02be92010d86","timestamp":"2015-01-11T18:30:00+00:00","utc_offset":"+05:30","steps":0.0,"calories_burned":1795.0,"distance":0.0,"floors":null,"elevation":null,"source":"fitbit","source_name":"Fitbit","last_updated":"2015-01-12T17:59:11+00:00"},{"_id":"54b1ec16de92dbe20703b341","timestamp":"2015-01-10T18:30:00+00:00","utc_offset":"+05:30","steps":0.0,"calories_burned":2728.0,"distance":0.0,"floors":null,"elevation":null,"source":"fitbit","source_name":"Fitbit","last_updated":"2015-01-11T19:31:13+00:00"},{"_id":"53cef0d39b16e6d84300b07c","timestamp":"2014-07-22T00:00:00+00:00","utc_offset":"+00:00","steps":6338.0,"calories_burned":1639.6223,"distance":3420.330302,"floors":null,"elevation":null,"source":"misfit","source_name":"Misfit
        Wearables","last_updated":"2015-01-12T18:25:30+00:00"}]}'
  recorded_at: Mon, 12 Jan 2015 19:14:54 GMT
recorded_with: VCR 2.9.3
