---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/ORG_ID.json?access_token=ENTERPRISE_KEY&organization_id=ORG_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":1,"start_date":null,"end_date":null,"offset":0,"limit":100,"params":{"start_date":null,"end_date":null,"offset":null,"limit":null,"source":null}},"organization":{"_id":"ORG_ID","name":"ACME
        Corp","users":185,"users_provisioned":390,"activities":491017,"connections":989,"organizations":[]}}'
  recorded_at: Wed, 07 Jan 2015 19:58:30 GMT
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/51aca5a06dedda916400002b.json?access_token=ENTERPRISE_KEY&organization_id=51aca5a06dedda916400002b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":1,"start_date":null,"end_date":null,"offset":0,"limit":100,"params":{"start_date":null,"end_date":null,"offset":null,"limit":null,"source":null}},"organization":{"_id":"51aca5a06dedda916400002b","name":"ACME
        Corp","users":185,"users_provisioned":390,"activities":491017,"connections":989,"organizations":[]}}'
  recorded_at: Wed, 07 Jan 2015 20:48:59 GMT
recorded_with: VCR 2.8.0
