---
http_interactions:
- request:
    method: post
    uri: https://api.validic.com/v1/organizations/hy_id/users/hy-user/nutrition.json
    body:
      encoding: UTF-8
      string: '{"access_token":"hy-token","nutrition":{"entry_id":"nutrition_123","timestamp":"2015-01-06T16:14:17+00:00","utc_offset":null,"calories":0,"carbohydrates":null,"fat":null,"fiber":null,"protein":null,"sodium":null,"water":null,"meal":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"code":201,"message":"Ok","nutrition":{"_id":"54aeb48368c6526d2900011c","calories":0.0,"carbohydrates":null,"extras":null,"fat":null,"fiber":null,"meal":null,"protein":null,"sodium":null,"source":"healthy_yet","source_name":"Healthy
        Yet","timestamp":"2015-01-06T16:14:17+00:00","utc_offset":null,"validated":false,"water":null,"last_updated":"2015-01-08T16:46:59+00:00","activity_id":"nutrition_123"}}'
  recorded_at: Thu, 08 Jan 2015 16:46:55 GMT
recorded_with: VCR 2.8.0
