---
http_interactions:
- request:
    method: put
    uri: https://api.validic.com/v1/organizations/hy_id/users/hy-user/weight/54aecd4398b4b177a900017c.json
    body:
      encoding: UTF-8
      string: '{"access_token":"hy-token","weight":{"timestamp":"2015-01-08T18:43:47+00:00","utc_offset":null,"weight":10.0,"height":null,"free_mass":null,"fat_percent":null,"mass_weight":null,"bmi":null,"extras":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"code":200,"message":"Ok","weight":{"_id":"54aecd4398b4b177a900017c","bmi":null,"extras":null,"fat_percent":null,"free_mass":null,"height":null,"mass_weight":null,"source":"healthy_yet","source_name":"Healthy
        Yet","timestamp":"2015-01-08T18:43:47+00:00","utc_offset":null,"validated":false,"weight":10.0,"last_updated":"2015-01-08T18:43:51+00:00","activity_id":"weight_5"}}'
  recorded_at: Thu, 08 Jan 2015 18:43:47 GMT
recorded_with: VCR 2.8.0
