---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/acme_id/fitness.json?access_token=ENTERPRISE_KEY&organization_id=acme_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":40,"start_date":"2015-01-07T00:00:00+00:00","end_date":"2015-01-09T23:59:59+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"fitness":[{"_id":"54ae4deace82b829f20330b9","timestamp":"2015-01-08T23:00:00+00:00","utc_offset":"-01:00","type":"Sports
        / Activities","intensity":"1","start_time":"2015-01-08T22:00:00-01:00","distance":29999.867874,"duration":7200.0,"calories":200.0,"source":"mapmyfitness","source_name":"Map
        My Fitness","last_updated":"2015-01-08T09:29:14+00:00","user_id":"acme_user"},{"_id":"54aea447e071d67c10000771","timestamp":"2015-01-08T14:39:37+00:00","utc_offset":"-05:00","type":"RUN","intensity":null,"start_time":"2015-01-08T09:39:37-05:00","distance":1899.03497695923,"duration":773.0,"calories":207.0,"source":"nikeplus","source_name":"Nike
        +","last_updated":"2015-01-08T16:49:12+00:00","user_id":"5420580c84626b03190000c8"},{"_id":"54aea3fe9f08809bdb027460","timestamp":"2015-01-08T14:39:37+00:00","utc_offset":"-05:00","type":"RUN","intensity":null,[...]
