---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/ORG_ID/fitness.json?access_token=ENTERPRISE_KEY&organization_id=ORG_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":50,"start_date":"2015-01-06T00:00:00+00:00","end_date":"2015-01-08T23:59:59+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"fitness":[{"_id":"54ad6e3819430437f00093c0","timestamp":"2015-01-07T15:18:09+00:00","utc_offset":"-05:00","type":"walking","intensity":null,"start_time":"2015-01-07T10:18:09-05:00","distance":80.0,"duration":90.0,"calories":5.0,"source":"movesapp","source_name":"Moves
        App","last_updated":"2015-01-07T17:34:48+00:00","user_id":"53bec5ad84626bc886000002"},{"_id":"54ad48b6ce82b85a0500475a","timestamp":"2015-01-07T14:16:38+00:00","utc_offset":"-05:00","type":"walking","intensity":null,"start_time":"2015-01-07T09:16:38-05:00","distance":166.0,"duration":150.0,"calories":11.0,"source":"movesapp","source_name":"Moves
        App","last_updated":"2015-01-07T14:54:46+00:00","user_id":"53bec5ad84626bc886000002"},{"_id":"54ad48b6ce82b85a05004755","timestamp":"2015-01-07T13:48:05+00:00","utc_offset":"-05:00","type":"walking","in[...]
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/51aca5a06dedda916400002b/fitness.json?access_token=ENTERPRISE_KEY&organization_id=51aca5a06dedda916400002b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: [...]
