---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/ORG_ID/users/USER_ID/diabetes.json?access_token=ACCESS_TOKEN&user_id=USER_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":1,"start_date":"2015-01-06T00:00:00+00:00","end_date":"2015-01-08T23:59:59+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"diabetes":[{"_id":"54acb82fb904b6d6af0244f1","timestamp":"2015-01-07T00:51:42+00:00","utc_offset":"+00:00","c_peptide":null,"fasting_plasma_glucose_test":null,"hba1c":null,"insulin":null,"oral_glucose_tolerance_test":null,"random_plasma_glucose_test":null,"triglyceride":null,"blood_glucose":145.0,"source":"telcare","source_name":"Telcare","last_updated":"2015-01-07T04:38:07+00:00"}]}'
  recorded_at: Wed, 07 Jan 2015 19:58:25 GMT
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/51aca5a06dedda916400002b/users/526bafa36dedda5bff000001/diabetes.json?access_token=e7aefafcac801b320f79fafcf46d3090b6b5fda9e71ddb374c9c1223a5843adc&user_id=526bafa36dedda5bff000001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":1,"start_date":"2015-01-06T00:00:00+00:00","end_date":"2015-01-08T23:59:59+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"diabetes":[{"_id":"54acb82fb904b6d6af0244f1","timestamp":"2015-01-07T00:51:42+00:00","utc_offset":"+00:00","c_peptide":null,"fasting_plasma_glucose_test":null,"hba1c":null,"insulin":null,"oral_glucose_tolerance_test":null,"random_plasma_glucose_test":null,"triglyceride":null,"blood_glucose":145.0,"source":"telcare","source_name":"Telcare","last_updated":"2015-01-07T04:38:07+00:00"}]}'
  recorded_at: Wed, 07 Jan 2015 20:49:12 GMT
recorded_with: VCR 2.8.0
