---
http_interactions:
- request:
    method: post
    uri: https://api.validic.com/v1/organizations/acme_id/users.json
    body:
      encoding: UTF-8
      string: '{"access_token":"acme_token","user":{"uid":"acme_201","profile":{"height":167.0,"gender":"M","location":"TX","weight":69.0}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"code":201,"message":"Ok","user":{"_id":"54aeb5b484626b4e66000228","uid":"acme_201","access_token":"MNiV-WJFQx-UZ7dcmzqG","profile":{"gender":"M","height":167.0,"location":"TX","weight":69.0,"birth_year":null}}}'
  recorded_at: Thu, 08 Jan 2015 16:52:03 GMT
recorded_with: VCR 2.8.0
