---
http_interactions:
- request:
    method: post
    uri: https://api.validic.com/v1/organizations/acme_id/users.json
    body:
      encoding: UTF-8
      string: '{"access_token":"acme_token","user":{"uid":"acme_101","profile":{"height":null,"gender":null,"location":null,"weight":null}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"code":201,"message":"Ok","user":{"_id":"54aeb53784626b2ead000245","uid":"acme_101","access_token":"FWtE3tY8kePKmyVk-HsM","profile":{"gender":null,"height":null,"location":null,"weight":null,"birth_year":null}}}'
  recorded_at: Thu, 08 Jan 2015 16:49:59 GMT
recorded_with: VCR 2.8.0
