---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/acme_id/users/54aeb5b484626b4e66000228/refresh_token.json?access_token=acme_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"code":200,"message":"Ok","user":{"_id":"54aeb5b484626b4e66000228","uid":"acme_201","authentication_token":"axC5FDv4rAogBwGyeZS5"}}'
  recorded_at: Thu, 08 Jan 2015 16:53:04 GMT
recorded_with: VCR 2.8.0
