---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/acme_id/users/54aeb53784626b2ead000245/refresh_token.json?access_token=acme_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"code":200,"message":"Ok","user":{"_id":"54aeb53784626b2ead000245","uid":"updated_uid","authentication_token":"tw-DznsrNFNxsptzroPN"}}'
  recorded_at: Thu, 08 Jan 2015 16:51:33 GMT
recorded_with: VCR 2.8.0
