---
http_interactions:
- request:
    method: post
    uri: https://api.validic.com/v1/organizations/hy_id/users/hy-user/weight.json
    body:
      encoding: UTF-8
      string: '{"access_token":"hy-token","weight":{"data_id":"weights_7","timestamp":"2015-01-06T16:14:17+00:00","utc_offset":null,"weight":0,"height":null,"free_mass":null,"fat_percent":null,"mass_weight":null,"bmi":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"code":201,"message":"Ok","weight":{"_id":"54aeb28798b4b136e2000176","bmi":null,"extras":null,"fat_percent":null,"free_mass":null,"height":null,"mass_weight":null,"source":"healthy_yet","source_name":"Healthy
        Yet","timestamp":"2015-01-06T16:14:17+00:00","utc_offset":null,"validated":false,"weight":0.0,"last_updated":"2015-01-08T16:38:31+00:00","activity_id":"weights_7"}}'
  recorded_at: Thu, 08 Jan 2015 16:38:26 GMT
recorded_with: VCR 2.8.0
