---
http_interactions:
- request:
    method: post
    uri: https://api.validic.com/v1/organizations/hy_id/users/hy-user/tobacco_cessation.json
    body:
      encoding: UTF-8
      string: '{"access_token":"hy-token","tobacco_cessation":{"activity_id":"tobaccoz","timestamp":"2015-01-08T21:00:24+00:00","utc_offset":null,"cigarettes_allowed":0,"cigarettes_smoked":0,"cravings":0,"last_smoked":"2015-01-08T21:00:24+00:00","extras":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"code":201,"message":"Ok","tobacco_cessation":{"_id":"54aeefec98b4b1cfb5000193","activity_id":"tobaccoz","cigarettes_allowed":0.0,"cigarettes_smoked":0.0,"cravings":0.0,"extras":null,"last_smoked":"2015-01-08T21:00:24+00:00","null_data":false,"source":"healthy_yet","source_name":"Healthy
        Yet","timestamp":"2015-01-08T21:00:24+00:00","utc_offset":null,"last_updated":"2015-01-08T21:00:28+00:00"}}'
  recorded_at: Thu, 08 Jan 2015 21:00:24 GMT
recorded_with: VCR 2.8.0
