---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/ORG_ID/users/USER_ID/weight.json?access_token=ACCESS_TOKEN&user_id=USER_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":0,"start_date":"2015-01-06T00:00:00+00:00","end_date":"2015-01-08T23:59:59+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"weight":[]}'
  recorded_at: Wed, 07 Jan 2015 19:57:55 GMT
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/51aca5a06dedda916400002b/users/526bafa36dedda5bff000001/weight.json?access_token=e7aefafcac801b320f79fafcf46d3090b6b5fda9e71ddb374c9c1223a5843adc&user_id=526bafa36dedda5bff000001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":0,"start_date":"2015-01-06T00:00:00+00:00","end_date":"2015-01-08T23:59:59+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"weight":[]}'
  recorded_at: Wed, 07 Jan 2015 20:48:36 GMT
recorded_with: VCR 2.8.0
