---
http_interactions:
- request:
    method: post
    uri: https://api.validic.com/v1/profile.json
    body:
      encoding: UTF-8
      string: '{"authentication_token":"USER_AUTHENTICATION_TOKEN","profile":{"gender":"F","location":"CA","country":"USA","birth_year":"1987","height":60.0,"weight":140},"access_token":"ACCESS_TOKEN"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"profile":{"uid":"47","_id":"USER_ID","gender":"F","location":"CA","country":"USA","birth_year":"1987","height":60.0,"weight":140.0,"applications":[]}}'
  recorded_at: Wed, 07 Jan 2015 19:58:10 GMT
recorded_with: VCR 2.8.0
