---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/acme_id/biometrics/latest.json?access_token=acme_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":1,"start_date":"2015-01-12T00:00:00+00:00","end_date":"2015-01-12T19:14:50+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"biometrics":[{"_id":"54b3dc8fee0fd4eebf002289","timestamp":"2015-01-12T22:38:42+00:00","utc_offset":"+00:00","blood_calcium":null,"blood_chromium":null,"blood_folic_acid":null,"blood_magnesium":null,"blood_potassium":null,"blood_sodium":null,"blood_vitamin_b12":null,"blood_zinc":null,"creatine_kinase":null,"crp":null,"diastolic":44.0,"ferritin":null,"hdl":null,"hscrp":null,"il6":null,"ldl":null,"resting_heartrate":84.0,"systolic":114.0,"testosterone":null,"total_cholesterol":null,"tsh":null,"uric_acid":null,"vitamin_d":null,"white_cell_count":null,"spo2":null,"temperature":null,"source":"ihealth","source_name":"iHealth","last_updated":"2015-01-12T15:16:05+00:00","user_id":"52ffcb4bf1f70eefba000004"}]}'
  recorded_at: Mon, 12 Jan 2015 19:14:50 GMT
recorded_with: VCR 2.9.3
