---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/acme_id/diabetes/latest.json?access_token=acme_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":0,"start_date":"2015-01-12T00:00:00+00:00","end_date":"2015-01-12T19:14:49+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"diabetes":[]}'
  recorded_at: Mon, 12 Jan 2015 19:14:49 GMT
recorded_with: VCR 2.9.3
