---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/acme_id/fitness/latest.json?access_token=acme_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":44,"start_date":"2015-01-12T00:00:00+00:00","end_date":"2015-01-12T19:14:51+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"fitness":[{"_id":"54b412d9fda5dfa3fe00146c","timestamp":"2015-01-12T17:47:20+00:00","utc_offset":"-05:00","type":"walking","intensity":null,"start_time":"2015-01-12T12:47:20-05:00","distance":30.0,"duration":30.0,"calories":2.0,"source":"movesapp","source_name":"Moves
        App","last_updated":"2015-01-12T18:30:49+00:00","user_id":"53bec5ad84626bc886000002"},{"_id":"54b3f6ecdb5854640a007a51","timestamp":"2015-01-12T13:42:51+00:00","utc_offset":"-05:00","type":"walking","intensity":null,"start_time":"2015-01-12T08:42:51-05:00","distance":25.0,"duration":30.0,"calories":2.0,"source":"movesapp","source_name":"Moves
        App","last_updated":"2015-01-12T16:31:40+00:00","user_id":"53bec5ad84626bc886000002"},{"_id":"54b3f6ecdb5854640a007a4c","timestamp":"2015-01-12T13:19:14+00:00","utc_offset":"-05:00","type":"walking","inten[...]
