---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/acme_id/nutrition/latest.json?access_token=acme_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":30,"start_date":"2015-01-12T00:00:00+00:00","end_date":"2015-01-12T19:14:50+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"nutrition":[{"_id":"54b3e3b9a3bf3a265800cc45","timestamp":"2015-01-12T14:00:00+00:00","utc_offset":"-06:00","calories":360.0,"carbohydrates":23.0,"fat":17.0,"fiber":3.0,"protein":29.0,"sodium":960.0,"water":null,"meal":"Breakfast","source":"jawbone_up","source_name":"Jawbone
        Up","last_updated":"2015-01-12T15:09:45+00:00","user_id":"535573c8f1f70e2bb6000012"},{"_id":"54b3ce3ba51a82f953006bc6","timestamp":"2015-01-12T06:00:00+00:00","utc_offset":"-06:00","calories":310.0,"carbohydrates":26.0,"fat":17.0,"fiber":4.0,"protein":17.0,"sodium":60.0,"water":null,"meal":"Breakfast
        Summary","source":"fitbit","source_name":"Fitbit","last_updated":"2015-01-12T13:38:03+00:00","user_id":"53611913f1f70ef82c0000e7"},{"_id":"54b304c0eebfa0d2bb00169f","timestamp":"2015-01-12T01:00:00+00:00","utc_offset":"-06:00","calories":188.0,"ca[...]
