---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/acme_id/routine/latest.json?access_token=acme_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":257,"start_date":"2015-01-12T00:00:00+00:00","end_date":"2015-01-12T19:14:51+00:00","offset":0,"limit":100,"previous":null,"next":"https://api.validic.com/v1/organizations/acme_id/routine/latest.json?access_token=acme_token&page=2","params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"routine":[{"_id":"54b33a29a2337de30b011142","timestamp":"2015-01-12T06:00:00+00:00","utc_offset":"-06:00","steps":0.0,"calories_burned":1112.0,"distance":0.0,"floors":null,"elevation":null,"source":"fitbit","source_name":"Fitbit","last_updated":"2015-01-12T18:01:02+00:00","user_id":"542eef3f84626b2885000078"},{"_id":"54b339edb1b95f68f50177ba","timestamp":"2015-01-12T06:00:00+00:00","utc_offset":"-06:00","steps":0.0,"calories_burned":987.0,"distance":0.0,"floors":0.0,"elevation":0.0,"source":"fitbit","source_name":"Fitbit","last_updated":"2015-01-12T18:03:48+00:00","user_id":"53611913f1f70ef82c0000e7"},{"_id":"54b339edb1b95f5a480177bc","timestamp":"2015-01-12T06:00:00+00:00","utc_offset":"-06:00","steps":3699.0,"calories_burned":1273.0,"distance":2563.46,"floors":3.0,"eleva[...]
