---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/acme_id/sleep/latest.json?access_token=acme_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":3,"start_date":"2015-01-12T00:00:00+00:00","end_date":"2015-01-12T19:14:51+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"sleep":[{"_id":"54b3f8f554c495b7ee00048c","timestamp":"2015-01-12T00:00:00+00:00","utc_offset":"+00:00","awake":0.0,"deep":27000.0,"light":0.0,"rem":0.0,"times_woken":0.0,"total_sleep":27000.0,"source":"fitbit","source_name":"Fitbit","last_updated":"2015-01-12T16:40:21+00:00","user_id":"5469fcbe84626b01400002bd"},{"_id":"54b3ecfa894c99237b000978","timestamp":"2015-01-09T09:04:28+00:00","utc_offset":"+08:00","awake":2606.0,"deep":6480.0,"light":5520.0,"rem":null,"times_woken":0.0,"total_sleep":14606.0,"source":"jawbone_up","source_name":"Jawbone
        Up","last_updated":"2015-01-12T15:49:14+00:00","user_id":"52ffcb4bf1f70eefba000004"},{"_id":"54b3ecf9894c995fc8000974","timestamp":"2015-01-07T07:06:45+00:00","utc_offset":"+08:00","awake":439.0,"deep":11039.0,"light":7198.0,"rem":null,"times_woken":0.0,"total_sleep":18676.0,"source":"jawbone_up","source_name":"Jawbone
        Up","last_updated":"2015-01-12T15:49:13+00:00","user_id":"52ffcb4bf1f70eefba000004"}]}'
  recorded_at: Mon, 12 Jan 2015 19:14:51 GMT
recorded_with: VCR 2.9.3
