---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/organizations/acme_id/weight/latest.json?access_token=acme_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"summary":{"status":200,"message":"Ok","results":6,"start_date":"2015-01-12T00:00:00+00:00","end_date":"2015-01-12T19:14:51+00:00","offset":0,"limit":100,"previous":null,"next":null,"params":{"start_date":null,"end_date":null,"offset":0,"limit":0}},"weight":[{"_id":"54b3dca6a3bf3ae5a900adc6","timestamp":"2015-01-12T22:39:15+00:00","utc_offset":"+00:00","weight":55.0,"height":null,"free_mass":null,"fat_percent":15.0,"mass_weight":null,"bmi":20.18,"source":"ihealth","source_name":"iHealth","last_updated":"2015-01-12T15:16:05+00:00","user_id":"52ffcb4bf1f70eefba000004"},{"_id":"54a30096e3f5b56ab407490b","timestamp":"2014-12-30T18:59:59+00:00","utc_offset":"+05:00","weight":43.0,"height":null,"free_mass":null,"fat_percent":12.0,"mass_weight":null,"bmi":14.84,"source":"fitbit","source_name":"Fitbit","last_updated":"2015-01-12T15:13:21+00:00","user_id":"52fa869cf1f70e078700001f"},{"_id":"549268ad2b191fea14063027","timestamp":"2014-12-11T14:59:59+00:00","utc_offset":"+09:00","weight":65.0,"height":null,"free_mass":null,"fat_percent":0.0,[...]
