---
http_interactions:
- request:
    method: put
    uri: https://api.validic.com/v1/organizations/hy_id/users/hy-user/fitness/54aeedef84626b378100025d.json
    body:
      encoding: UTF-8
      string: '{"access_token":"hy-token","fitness":{"activity_id":"54aeedef84626b378100025d","timestamp":"2015-01-08T20:53:48+00:00","utc_offset":null,"type":"General","intensity":null,"start_time":null,"distance":null,"duration":null,"calories":10.0,"extras":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"code":200,"message":"Ok","fitness":{"_id":"54aeedef84626b378100025d","activity_id":"54aeedef84626b378100025d","calories":10.0,"distance":null,"duration":null,"extras":null,"intensity":null,"source":"healthy_yet","source_name":"HealthyYet","start_time":null,"timestamp":"2015-01-08T20:53:48+00:00","utc_offset":null,"validated":false,"type":"General","last_updated":"2015-01-08T20:53:49+00:00"}}'
  recorded_at: Thu, 08 Jan 2015 20:53:48 GMT
recorded_with: VCR 2.8.0
