---
http_interactions:
- request:
    method: put
    uri: https://api.validic.com/v1/organizations/hy_id/users/hy-user/routine/54aeed4d98b4b12cee00019d.json
    body:
      encoding: UTF-8
      string: '{"access_token":"hy-token","routine":{"timestamp":"2015-01-08T20:50:16+00:00","utc_offset":null,"steps":null,"distance":null,"floors":null,"elevation":null,"calories_burned":10.0,"extras":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"code":200,"message":"Ok","routine":{"_id":"54aeed4d98b4b12cee00019d","activity_id":"routinez","calories_burned":10.0,"distance":null,"elevation":null,"extras":null,"floors":null,"source":"healthy_yet","source_name":"Healthy
        Yet","steps":null,"timestamp":"2015-01-08T20:50:16+00:00","utc_offset":null,"validated":false,"last_updated":"2015-01-08T20:50:21+00:00"}}'
  recorded_at: Thu, 08 Jan 2015 20:50:16 GMT
recorded_with: VCR 2.8.0
