---
http_interactions:
- request:
    method: get
    uri: http://api.validic.dev/v1/fitness.json?access_token=DEMO_KEY&end_date&start_date
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"46e97e9c7ca4d46498fb4904457901ed"'
    body:
      encoding: US-ASCII
      string: ! '{"summary":{"status":200,"message":"OK","results":15,"start_date":"2013-05-01
        00:00:00 +08:00","end_date":"2013-05-31 23:59:59 +08:00","offset":0,"limit":100,"params":{"start_date":null,"end_date":null,"offset":null,"limit":null}},"fitness":[{"_id":"51945d546a7e0cb3db000032","timestamp":"2013-05-11
        12:15:16","type":"Cycling","intensity":"low","start_time":"2013-05-11 11:39:32","total_distance":7002.0,"duration":2144.0,"source":"validic_api"},{"_id":"51945d546a7e0cb3db000033","timestamp":"2013-05-04
        12:15:16","type":"Downhill Skiing","intensity":"medium","start_time":"2013-05-04
        10:27:29","total_distance":1595.0,"duration":6467.0,"source":"validic_api"},{"_id":"51945d546a7e0cb3db000034","timestamp":"2013-05-06
        12:15:16","type":"Downhill Skiing","intensity":"medium","start_time":"2013-05-06
        11:01:13","total_distance":3036.0,"duration":4443.0,"source":"validic_api"},{"_id":"51945d546a7e0cb[...]
