---
http_interactions:
- request:
    method: put
    uri: https://api.validic.com/v1/organizations/acme_id/users/54aeb5b484626b4e66000228.json
    body:
      encoding: UTF-8
      string: '{"suspend":0,"access_token":"acme_token"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"code":200,"message":"The user has been unsuspended successfully"}'
  recorded_at: Thu, 08 Jan 2015 16:52:32 GMT
recorded_with: VCR 2.8.0
