---
http_interactions:
- request:
    method: put
    uri: https://api.validic.com/v1/organizations/hy_id/users/hy-user/sleep/54aeef3984626b1806000246.json
    body:
      encoding: UTF-8
      string: '{"access_token":"hy-token","sleep":{"timestamp":"2015-01-08T20:57:55+00:00","utc_offset":null,"total_sleep":null,"awake":10.0,"deep":null,"light":null,"rem":null,"times_woken":null,"extras":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"code":200,"message":"Ok","sleep":{"_id":"54aeef3984626b1806000246","activity_id":"sleepz","awake":10.0,"deep":null,"extras":null,"light":null,"rem":null,"source":"healthy_yet","source_name":"Healthy
        Yet","times_woken":null,"timestamp":"2015-01-08T20:57:55+00:00","total_sleep":null,"utc_offset":null,"validated":false,"last_updated":"2015-01-08T20:57:56+00:00"}}'
  recorded_at: Thu, 08 Jan 2015 20:57:55 GMT
recorded_with: VCR 2.8.0
