---
http_interactions:
- request:
    method: get
    uri: https://api.validic.com/v1/profile.json?access_token=ACCESS_TOKEN&authentication_token=USER_AUTHENTICATION_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"profile":{"uid":"47","_id":"USER_ID","gender":"F","location":"CA","country":"USA","birth_year":"1987","height":60.0,"weight":140.0,"applications":[{"name":"belletobaccoapp"},{"name":"bodymedia"},{"name":"dailymile"},{"name":"fatsecret"},{"name":"fitbit"},{"name":"fleetly"},{"name":"garminfit"},{"name":"healthgraph"},{"name":"ihealth"},{"name":"jawbone_up"},{"name":"managebgl"},{"name":"mapmyfitness"},{"name":"mapmyhike"},{"name":"mapmyride"},{"name":"mapmyrun"},{"name":"mapmytri"},{"name":"mapmywalk"},{"name":"misfit"},{"name":"mobiledemoapp"},{"name":"movable"},{"name":"movesapp"},{"name":"myglucohealth"},{"name":"nikeplus"},{"name":"omron"},{"name":"strava"},{"name":"telcare"},{"name":"vitadock"}]}}'
  recorded_at: Wed, 07 Jan 2015 19:58:11 GMT
- request:
    method: get
    uri: https://api.validic.com/v1/profile.json?access_token=e7aefafcac801b320f79fafcf46d3090b6b5fda9e71ddb374c9c1223a5843adc&authentication_token=wqyQBzeYzfKV7K3ZCdj5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"profile":{"uid":"47","_id":"526bafa36dedda5bff000001","gender":"F","location":"CA","country":"USA","birth_year":"1987","height":60.0,"weight":140.0,"applications":[{"name":"belletobaccoapp"},{"name":"bodymedia"},{"name":"dailymile"},{"name":"fatsecret"},{"name":"fitbit"},{"name":"fleetly"},{"name":"garminfit"},{"name":"healthgraph"},{"name":"ihealth"},{"name":"jawbone_up"},{"name":"managebgl"},{"name":"mapmyfitness"},{"name":"mapmyhike"},{"name":"mapmyride"},{"name":"mapmyrun"},{"name":"mapmytri"},{"name":"mapmywalk"},{"name":"misfit"},{"name":"mobiledemoapp"},{"name":"movable"},{"name":"movesapp"},{"name":"myglucohealth"},{"name":"nikeplus"},{"name":"omron"},{"name":"strava"},{"name":"telcare"},{"name":"vitadock"}]}}'
  recorded_at: Wed, 07 Jan 2015 20:48:58 GMT
recorded_with: VCR 2.8.0
