---
http_interactions:
- request:
    method: post
    uri: https://api.validic.com/v1/organizations/PARTNER_ORG_ID/users/PARTNER_USER_ID/tobacco_cessation.json
    body:
      encoding: UTF-8
      string: '{"access_token":"PARTNER_ACCESS_TOKEN","tobacco_cessation":{"timestamp":"2015-01-06T16:14:17+00:00","utc_offset":null,"cigarettes_allowed":0,"cigarettes_smoked":0,"cravings":0,"last_smoked":"2015-01-07T19:58:08+00:00"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"code":201,"message":"Ok","tobacco_cessation":{"_id":"54ad8fd184626b2ead0001be","activity_id":null,"cigarettes_allowed":0.0,"cigarettes_smoked":0.0,"cravings":0.0,"extras":null,"last_smoked":"2015-01-07T19:58:08+00:00","null_data":false,"source":"healthy_yet","source_name":"Healthy
        Yet","timestamp":"2015-01-06T16:14:17+00:00","utc_offset":null,"last_updated":"2015-01-07T19:58:09+00:00"}}'
  recorded_at: Wed, 07 Jan 2015 19:58:09 GMT
[...]
- request:
    method: post
    uri: https://api.validic.com/v1/organizations/549826e48ee42168f1000045/users/54aab42384626b8b6d000054/tobacco_cessation.json
    body:
      encoding: UTF-8
      string: '{"access_token":"e880f8e4179f90212237ef03b176c7d6d39d87c9344bd8378aa878cd84580160","tobacco_cessation":{"timestamp":"2015-01-06T16:14:17+00:00","utc_offset":null,"cigarettes_allowed":0,"cigarettes_smoked":0,"cravings":0,"last_smoked":"2015-01-07T20:49:02+00:00"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"code":201,"message":"Ok","tobacco_cessation":{"_id":"54ad9bc168c6521f8a000069","activity_id":null,"cigarettes_allowed":0.0,"cigarettes_smoked":0.0,"cravings":0.0,"extras":null,"last_smoked":"2015-01-07T20:49:02+00:00","null_data":false,"source":"healthy_yet","source_name":"Healthy
        Yet","timestamp":"2015-01-06T16:14:17+00:00","utc_offset":null,"last_updated":"2015-01-07T20:49:05+00:00"}}'
  recorded_at: Wed, 07 Jan 2015 20:49:03 GMT
recorded_with: VCR 2.8.0
