---
http_interactions:
- request:
    method: post
    uri: https://api.validic.com/v1/organizations/hy_id/users/hy-user/sleep.json
    body:
      encoding: UTF-8
      string: '{"access_token":"hy-token","sleep":{"activity_id":"sleeps_1337","timestamp":"2015-01-06T16:14:17+00:00","utc_offset":null,"total_sleep":null,"awake":null,"deep":null,"light":null,"rem":null,"times_woken":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"code":201,"message":"Ok","sleep":{"_id":"54aeb4bb98b4b136e2000178","activity_id":"sleeps_1337","awake":null,"deep":null,"extras":null,"light":null,"rem":null,"source":"healthy_yet","source_name":"Healthy
        Yet","times_woken":null,"timestamp":"2015-01-06T16:14:17+00:00","total_sleep":null,"utc_offset":null,"validated":false,"last_updated":"2015-01-08T16:47:55+00:00"}}'
  recorded_at: Thu, 08 Jan 2015 16:47:51 GMT
recorded_with: VCR 2.8.0
